{
  frankenphp {
    num_threads 8
    max_threads auto
    max_wait_time 30s
  }
}

:80 {
    root * /app/public
    encode zstd gzip

    file_server

    php_server {
        root /app/public
    }
}